body {
  background-color: navy;
  font-family: "Latin Wide";
  font-size: 14px;
  color: #FFFF00;
  text-align: center;
}
p {
  font-family: "Impact";
  font-size: 11px; 
}
head {
  text-align: center;
  color: #FFFF00;
}
