body {
<<<<<<< HEAD
  background-color: #000080;
  font-family: "Latin Wide"
  font-size: 14px
  color: #000000
=======
  background-color: navy;
  font-family: "Latin Wide";
  Font-size: 14px;
  text-align: center;
>>>>>>> 4f67982ceef7aad1d4c8d65276f47f8f08e01567
}
p {
  background: #000000;
  color: white
  font-family: "Impact"
  font-size: 11px
  border-style: solid;
  border-width: medium
  border-color: #C1CDC1; 
  font-family: "Times New Roman";
}
head {
  text-align: center;
}
